//=============================================
//                Intents                      
//=============================================

$default: #51ddfc;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;

//=============================================
//              Base colours                 
//=============================================

$primary: #777;
$accent: #58e1c1;
$white: #fff;

//=============================================
//          Media query breakpoints                
//=============================================

$brk-l: '(min-width: 768px)';


//=============================================
//                  Grid                       
//=============================================

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;