//=============================================
//                Buttons                      
//=============================================

.btn {
    margin-top: 15px;
    width: 100%;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    @include mq(large) {
      padding: 10px 30px;
      & + & {
        margin-left: 10px;
      }
    }
  }

.default {
  background-color: $default;
  &:hover {
    background-color: $default-light;
    transition: background-color .1s ease-in-out;
    }
}

.error {
  background-color: $error;
  &:hover {
    background-color: $error-light;
    transition: background-color .1s ease-in-out;
  }
}

.info {
  background-color: $info;
  &:hover {
    background-color: $info-light;
    transition: background-color .1s ease-in-out;
  }
}

.success {
  background-color: $success;
  &:hover {
    background-color: $success-light;
    transition: background-color .1s ease-in-out;
  }
}

.warning {
  background-color: $warning;
  &:hover {
    background-color: $warning-light;
    transition: background-color .1s ease-in-out;
  }
}